Michiel Voortman <michiel@melchioranalytics.com> <michi@MacBook-Pro-4.local>
Michiel Voortman <michiel@melchioranalytics.com> <michi@mac.home>
Michiel Voortman <michiel@melchioranalytics.com> <michi@MacBook-Pro-3.local>
Michiel Voortman <michiel@melchioranalytics.com> <135761097+MichielMAnalytics@users.noreply.github.com>
Michiel Voortman <michiel@melchioranalytics.com> <michiel@accountable.capital> 